body{
  background-color: lightblue;
}
#myCanvas {
  position: absolute;
  top: auto;
  left: 90px;
  height: 300px;
  width: 80%;
  border-radius: 10px;
  border: 1px solid blue;



}
h1{
  color: #686868;
  

}
